[Desktop Entry]
Name=MyDesk
NoDisplay=true
MimeType=x-scheme-handler/mydesk;
TryExec=rustdesk
Exec=rustdesk %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
