[Desktop Entry]
Name=WiBesk
NoDisplay=true
MimeType=x-scheme-handler/wibesk;
TryExec=wibesk
Exec=wibesk %u
Icon=wibesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=wibesk
